<!-- Created unlogged -->
<div class="text-black mt-20 text-xl text-center" style="">
    You are not logged in yet... kindly log in or create an account first.
    <div class="auth flex justify-around mt-4">
        <div></div>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/login">Sign In</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/signup">Sign Up</a>
        <div></div>
    </div>
</div>

